<section id="viewDetailsAd" class="viewDetailsAd">
    <div id="divDetailsAd">
        <br>
        <div><img src="{{imageUrl}}" alt="Picture" width="100"/></div>
        <div>
            <label style="font-style: italic">Title:</label>
            <h1>{{title}}</h1>
        </div>
        <div>
            <label style="font-style: italic">Description:</label>
            <h4>{{description}}</h4>
        </div>
        <div>
            <label style="font-style: italic">Publisher:</label>
            <h4>{{publisher}}</h4>
        </div>
        <div>
            <label style="font-style: italic">Date:</label>
            <h4>{{datePublished}}</h4>
        </div>
    </div>
</section>